#header {
  border: 1px solid;
  p {
    font: {
      size: 12px;
      weight: bold;
    }
  }
}

#content {

}

#picture {
  width: 600px;
  height: 500px;
  background-image: url('../img/test2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
